/* 
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo {
    font-size: 24px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 4px;
}

/* Hide menu-toggle and links by default on mobile */
/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #fff;
  overflow: scroll;
  background-color: #eeedeb;
}
.header {
  position: fixed;
}
.navbar {
  background-color: #1e201e;
  padding: 10px 20px;
  /* position: fixed; */
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  font-weight: 800;
}
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;

  cursor: pointer;
}
/* hero section */
.hero-section {
  background-image: url("./images/background.png.avif");
  width: 100%;
  height: 40rem;
}
.desc {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.desc > h1 {
  font-size: 2rem;
  font-weight: 700;
}
.desc > p {
  font-size: 1.4rem;
  font-weight: 500;
}
.desc > button {
  background-color: darkgrey;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 400;
}
.desc > button:hover {
  background-color: #35495e;
  border-radius: 10px;
  padding: 10px;
}
.menu-section {
  width: 100%;
  margin: 10px 0;
  color: #1e201e;
}
.card-container {
  width: 100%;
  margin: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  width: 20rem;
  background-color: white;
  /* border: 1px solid #bacdd8; */
  padding: 8px;
  border-radius: 12px;
}
.card:hover {
  transform: scale(1.05);
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.card:hover .card-image img {
  filter: blur(5px);
}

.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card-text {
  opacity: 1;
}

.card-text h3 {
  margin: 0;
  font-size: 24px;
  color: #fff;
}

.card-text p {
  margin: 10px 0 0;
  font-size: 16px;
  color: #ddd;
}
.checked {
  color: orange;
}
.card > h1 {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: underline;
}
.card .btn {
  display: flex;
  justify-content: space-between;
}
.btn button {
  border: 1px solid black;
  padding: 10px;
  border-radius: 11px;
  background-color: #23aa79;
}
.btn > button:hover {
  background-color: #6c8a6d;
}
.head {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  text-decoration: underline;
}
.review-section {
  width: 100%;
  margin: 10px 0;
  color: #1e201e;
}
.card-review {
  width: 12rem;
  background-color: #b4b4b8;
  padding: 8px;
  border-radius: 12px;
}
.card-review:hover {
  transform: scale(1.05);
  transition: opacity 0.3s ease;
}
.card-review > h2,
p,
.rating {
  text-align: center;
  padding: 5px;
}
.card-review > h2 {
  font-size: 1rem;
  font-weight: 600;
}
.review-container {
  width: 95%;
  margin: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
/* Faq */
.accordion {
  width: 70%;
  margin: 0 auto;
  color: #1e201e;
}
.accordion-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.accordion-head {
  display: flex;
  justify-content: space-between;
  background-color: #758694;
  padding: 15px;
  text-align: left;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  outline: none;
  transition: background-color 0.3s ease;
}
.accordion-head:hover {
  background-color: #405d72;
}

.accordion-content {
  padding: 15px;
  background-color: white;
  display: none; /* Hide content by default */
  border-top: 1px solid #ccc;
}

.accordion-content p {
  margin: 0;
}
/* Contact */
.contact {
  color: #1e201e;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.contact-container {
  width: 70%;
  margin: 1rem auto;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* Footer */
footer {
  color: aliceblue;
  background-color: #1e201e;
}
.footer-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* gap: 2rem; */
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 2px solid aliceblue;
}
.footer-container li {
  cursor: pointer;
}
.footer-container img,
h1 {
  cursor: pointer;
}
.footer-head {
  font-size: 2rem;
  font-weight: 700;
}
.left-link > ul {
  margin: 1.2rem auto;
}
.left-link > h1 {
  font-size: 1.2rem;
  font-weight: 500;
}
.left-link > ul > li {
  padding: 0.2rem;
}
.mid-link > h1 {
  font-size: 1.2rem;
  font-weight: 500;
}
.mid-link > ul {
  margin: 1.2rem auto;
}

.mid-link > ul > li {
  padding: 0.2rem;
}

.right-link {
  display: flex;
  flex-direction: column;
}
.right-link > h1 {
  font-size: 1.2rem;
  font-weight: 500;
}
.right-link > ul {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.social-head {
  margin-bottom: 1.2rem;
}
.logo-app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.logo-app > img {
  width: 12rem;
  height: 5rem;
}
.sign {
  text-align: center;
  padding: 1rem;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .card {
    margin: 0 auto;
  }
  .card-review {
    margin: 0 auto;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #1e201e;
  }

  .nav-links.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links li {
    margin: 15px 0;
  }

  .menu-toggle {
    display: block;
  }
  .desc {
    margin-top: 13rem;
  }
  .footer-container {
    display: block;
    align-content: center;
  }
  .left-link {
    margin: 2rem auto;
  }
  .mid-link {
    margin: 2rem auto;
  }
}
